extends layout

block content
    h1 Create New Account
    form(action="/newaccount", method="post")
        label Enter username:
        input#username(type='text', name='username')
        label Enter password:
        input#password(type='password', name='password')
        button#login(type = "button" onclick="createNewAccount()") Create Account
    script(src = "/newAccountManager.js")
